*{padding: 0; margin: 0; box-sizing: border-box; list-style: none; text-decoration: none;}
:root {font-size: 62.5%;} html, body {height: 100%;}
$clr-dark1: #352F44; $clr-dark1-tr: rgba($color: #352F44, $alpha: 0.97);
$clr-dark2: #5C5470; $clr-dark2-tr: rgba($color: #5C5470, $alpha: 0.9);
$clr-light1: #B9B4C7;
$clr-light2: #FAF0E6;
body {
    background-image: url(/Assets/bgimg.jpg); color: $clr-light2; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

// ---------------------------------------------------------------------------------------------------------------------------------------------

header {
    font-size: 1.6rem;
    font-family: sans-serif;
    padding: 2em 1.5em;
    display: flex;
    justify-content:space-between;
    background-color: $clr-dark1-tr;
    color: $clr-light2;
    height: 100px;

    nav ul {display: flex;justify-content: end;
        li {
            &:hover {transform: scale(1.05)}; 
            &:nth-of-type(3) {margin-left: 2vw;}; 
            transition: all 0.3s;
        } 
        li a {
            background-color: $clr-dark1;
            padding: 0.5em 2.5vw;
            border-radius: 1.2em;
            box-shadow: 3px 3px 10px $clr-light2;
            transition: all 0.5s;
            margin-left: 2vw;
            color: $clr-light2; 
            &:active {animation-name: dim; 
                animation-duration: 0.1s;
                animation-fill-mode: forwards;}
        }
    }

    .brand {
        font-size: 2rem; 
        i {margin: 0 0.3em;};
        display: flex;
        align-items: center;
        border-top: 1px solid;
        border-bottom: 1px solid;
        pointer-events: none;
        flex-shrink: 0;
        font-family: 'Courier New', Courier, monospace;
    }
}

@keyframes dim {
    0% {box-shadow: 3px 3px 10px $clr-light2;}
    20% {box-shadow: 2.7px 2.7px 8px $clr-light2; transform: scale(0.98);}
    40% {box-shadow: 2.2px 2.2px 4px $clr-light2; transform: scale(0.97)}
    70% {box-shadow: 2px 2px 2px $clr-light2; transform: scale(0.95)}
    100% {box-shadow: none; transform: scale(0.95);}
}


// ---------------------main--------------------------------------------------------------------------------------------------
main {flex: auto; background-color: $clr-dark1-tr;}

.mailer {
    display: flex;
    height: 50px;
    justify-content: end;
    margin-right: 1.5em;
    form { height: 35px; margin-top: 7.5px; position: relative;
        #blogsearch {
            height: 100%; 
            width: 300px; 
            border-radius: 1.2em; 
            background-color: transparent;
            font-size: 1.6rem;
            outline: none;
            padding-left: 1em;
            color: $clr-light2;
            border: 1px solid $clr-light1;
            transition: all 0.3s;
        }
        button {
            color: $clr-dark2; 
            background-color: $clr-light1;
            position: absolute;
            border: none;
            padding: 0.45em 0.6em;
            border-radius: 50%;
            right: 0.5em;
            top: 0.3em;
            cursor: pointer;
            &:hover {color: $clr-light2;}

        }
        label {
            color: $clr-dark2;
            position: absolute;
            left: 1.2em;
            top: 0.8em;
            font-size: 1.4rem;
            cursor:text;
            transition: all 0.3s;
        }
    }
}

input#blogsearch:focus +label {
    transform: translateY(-1.5em) scale(0.9); 
    color: $clr-light2;
    background-color: $clr-dark2;
    padding: 0em 0.3em;
    border-left: 1px solid $clr-light2;
    border-right: 1px solid $clr-light2;}
input#blogsearch:valid +label {display: none;}

article {
    width: 70vw;
    margin: 10em auto;
    div.text {
        font-size: 1.4rem; 
        width: 90%;
        max-width: 75ch; 
        text-align: center; 
        margin: auto; 
        padding: 2em; 
        position: relative;
        p {margin: 1em;}
        .article-type {
            text-transform: uppercase; 
            rotate: (-90deg);
            position: absolute;
            font-weight: 900;
            top: 0;
            translate: -35px;
            color: rgba($color: white, $alpha: 0.2);
            pointer-events: none;
        }
   }
   div.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5em;
    img {width: 180px; height: 120px; 
        transition: 0.3s;
        border: none;
        &:hover, &:active {transform: scale(1.3);}}
   }
}

// ---------------------footer-------------------------------------------------------------------------------------------------

footer {
    background-color: $clr-dark1-tr;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.1rem 1.5rem;
    p {translate: 40px;}
    nav.contact, nav.social {
        ul li {
            display: inline-block;
            font-size: 1.2rem;
            margin-right: 0.5em;
            a {text-decoration: none; color: $clr-light2; &:hover {color: $clr-light1;}}
        }
    }
    nav.social ul li {font-size: 1.8rem;}
}

// ------------------------media queries -----------------------------------------------------------------------------------------

@media (max-width: 620px) {
    header {flex-direction: column; align-items: center; height: 130px;} 
    header nav ul {justify-content: center; margin-top: 2em;}
    header nav ul li {margin: 0.3;}
    .mailer {justify-content: center; margin: 0;}
}
    

@media (min-width: 620px) {
    article:nth-of-type(even) {position: relative; left: 10%;}
    article:nth-of-type(odd) {position: relative; right: 10%;}
    article div.text {font-size: 1.6rem;}
}

@media (max-width: 620px) {footer {position:static; flex-direction: column; gap: 2em; p {translate: 0px;}}}