*{padding: 0; margin: 0; box-sizing: border-box; list-style: none;}
:root {font-size: 62.5%;} html, body {height: 100%;}
$clr-dark1: #2C3333; $clr-dark1-tr: rgba($color: #2C3333, $alpha: 0.98);
$clr-dark2: #395B64; $clr-dark2-tr: rgba($color: #2e4f4f, $alpha: 0.9);
$clr-light1: #A5C9CA;
$clr-light2: #E7F6F2;
body {
    background-image: url(/Assets/bgimg.jpg); color: $clr-light2; font-family: sans-serif;
    display: flex; flex-direction: column;}

// ---------------------------------------------------------------------------------------------------------------------------------------------

header {
    font-size: 1.6rem;
    padding: 2em 1.5em;
    display: flex;
    justify-content:space-between;
    background-color: $clr-dark2-tr;
    color: $clr-light2;
    height: 100px;

    nav ul {display: flex;justify-content: end;
        li {
            background-color: $clr-dark1;
            padding: 0.5em 2.5vw;
            border-radius: 1.2em;
            box-shadow: 3px 3px 10px $clr-light2;
            transition: all 0.5s;
            margin-left: 2vw;
            cursor: pointer;
            a {color: $clr-light2; text-decoration: none;}
            &:active {animation-name: dim; animation-duration: 0.1s; animation-fill-mode: forwards;}
            &:hover {transform: scale(1.05);}
            &:nth-of-type(3) {margin-left: 3vw;}
        }
    }

    .brand {
        font-size: 2rem; 
        i {margin: 0 0.3em;};
        display: flex;
        align-items: center;
        border-top: 1px solid;
        border-bottom: 1px solid;
        pointer-events: none;
        flex-shrink: 0;
        font-family: 'Courier New', Courier, monospace;
    }
}

@keyframes dim {
    0% {box-shadow: 3px 3px 10px $clr-light2;}
    20% {box-shadow: 2.7px 2.7px 8px $clr-light2; transform: scale(0.98);}
    40% {box-shadow: 2.2px 2.2px 4px $clr-light2; transform: scale(0.97)}
    70% {box-shadow: 2px 2px 2px $clr-light2; transform: scale(0.95)}
    100% {box-shadow: none; transform: scale(0.95);}
}


// ---------------------main-------------------------------------------------------------------------------------------------------------

main {
    display: flex;
    flex-direction: column;
    flex: auto;
    background-color: $clr-dark1-tr;
    .logout {
        font-size: 1.4rem; 
        position: absolute; 
        right: 30px;
        margin: 1em;
        padding: 0.3em 1em;
        border-radius: 1em;
        border: 1px solid $clr-light1;
        a {text-decoration: none; color: $clr-light2; &:visited {color: $clr-light2;}}
    }

    .profile {
        width: 300px;
        flex-grow: 0;
        margin: auto;
        text-align: center;
        margin-top: 5em;
        font-size: 1.4rem;
        picture {font-size: 5rem;}
        
    }
    .wrapper {
        font-size: 1.4rem;
        form{
            display: grid;
            grid-template: repeat(11, 30px) 1fr/ 1fr 300px 50px 1fr;
            input {
                width: 15px; height: 15px;
                &:nth-of-type(1) {grid-area: 2 / 3 / 3 / 4 ;}
                &:nth-of-type(2) {grid-area: 3 / 3 / 4 / 4 ;}
                &:nth-of-type(3) {grid-area: 4 / 3 / 5 / 4 ;}
            }
            label {
                &:nth-of-type(1) {grid-area: 2 / 2 / 3 / 3 ;}
                &:nth-of-type(2) {grid-area: 3 / 2 / 4 / 3 ;}
                &:nth-of-type(3) {grid-area: 4 / 2 / 5 / 3 ;}
            }

            button {
                grid-area: 5 / 2 / 6 / 3;
                background-color: $clr-dark2;
                padding: 0.5em 1em;
                border-radius: 1.2em;
                border: none;
                width: 160px;
                height: 30px;
                color: $clr-light2;
                justify-self: center;
                &:hover {border: 1px solid $clr-light2;}
            }
        }
        
    
    }
}


// ---------------------footer-------------------------------------------------------------------------------------------------

footer {
    background-color: $clr-dark2-tr;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    nav.contact, nav.social {
        ul li {
            display: inline-block;
            font-size: 1.2rem;
            margin-left: 1em;
            a {text-decoration: none; color: $clr-light2; &:hover {color: $clr-light1;}}
        }
    }
    nav.social ul li {font-size: 1.8rem;}
}

// ------------------------media queries -----------------------------------------------------------------------------------------

@media (max-width: 620px) {
    header {flex-direction: column; align-items: center; height: 130px;} 
    header nav ul {justify-content: center; margin-top: 1em;}
    header nav ul li {margin: 0.3;}
}

@media (max-width: 620px) {footer {position:static; flex-direction: column; gap: 2em; p {translate: 0px;}}}