*{padding: 0; margin: 0; box-sizing: border-box; list-style: none;}
:root {font-size: 62.5%;} html, body {height: 100%;}
$primary-color-dark1: #2C3333; $secondary-dark1-tr: rgba($color: #2C3333, $alpha: 0.98);
$primary-color-dark2: #395B64; $secondary-dark2-tr: rgba($color: #2e4f4f, $alpha: 0.9);
$primary-color-light1: #A5C9CA;
$primary-color-light2: #E7F6F2;
body {
    background-image: url(/Assets/bgimg.jpg); color: $primary-color-light2; font-family: sans-serif;
    display: flex; flex-direction: column;}
// ---------------------------------------------------------------------------------------------------------------------------------------------

header {
    font-size: 1.6rem;
    padding: 2em 1.5em;
    display: flex;
    justify-content:space-between;
    background-color: $secondary-dark2-tr;
    color: $primary-color-light2;
    height: 100px;

    nav ul {display: flex;justify-content: end;
        li {
            background-color: $primary-color-dark1;
            padding: 0.5em 2.5vw;
            border-radius: 1.2em;
            box-shadow: 3px 3px 10px $primary-color-light2;
            transition: all 0.5s;
            margin-left: 2vw;
            cursor: pointer;
            a {color: $primary-color-light2; text-decoration: none;}
            &:active {animation-name: dim; 
                animation-duration: 0.1s;
                animation-fill-mode: forwards;}
            &:hover {transform: scale(1.05);}
            &:nth-of-type(4) {margin-left: 3vw;}
        }
    }

    .brand {
        font-size: 2rem; 
        i {margin: 0 0.3em;};
        display: flex;
        align-items: center;
        border-top: 1px solid;
        border-bottom: 1px solid;
        pointer-events: none;
        flex-shrink: 0;
        font-family: monospace;
    }
}

@keyframes dim {
    0% {box-shadow: 3px 3px 10px $primary-color-light2;}
    20% {box-shadow: 2.7px 2.7px 8px $primary-color-light2; transform: scale(0.98);}
    40% {box-shadow: 2.2px 2.2px 4px $primary-color-light2; transform: scale(0.97)}
    70% {box-shadow: 2px 2px 2px $primary-color-light2; transform: scale(0.95)}
    100% {box-shadow: none; transform: scale(0.95);}
}


// ---------------------main-------------------------------------------------------------------------------------------------------------

main {background-color: $secondary-dark1-tr; flex: auto;}
.mailer {
    display: flex;
    height: 50px;
    justify-content: end;
    margin-right: 1.5em;
    form { height: 35px; margin-top: 7.5px; position: relative;
        #mailer {
            height: 100%; 
            width: 300px; 
            border-radius: 1.2em; 
            background-color: rgba($color: #2e4f4f, $alpha: 0.9);
            font-size: 1.6rem;
            outline: none;
            padding-left: 1em;
            color: $primary-color-light2;
            border: none;
            transition: all 0.3s;
        }
        button {
            color: $primary-color-dark2; 
            background-color: $primary-color-light1;
            position: absolute;
            border: none;
            padding: 0.45em 0.6em;
            border-radius: 50%;
            right: 0.5em;
            top: 0.3em;
            cursor: pointer;
            &:hover {color: $primary-color-light2;}

        }
        label {
            color: $primary-color-light2;
            position: absolute;
            left: 1.2em;
            top: 0.8em;
            font-size: 1.4rem;
            cursor:text;
            transition: all 0.3s;
        }
    }
}

input#mailer:focus +label {
    transform: translateY(-1.5em) scale(0.9); 
    color: $primary-color-light2;
    background-color: $primary-color-dark1;
    padding: 0em 0.3em;
    border-left: 1px solid $primary-color-light2;
    border-right: 1px solid $primary-color-light2;}
input#mailer:focus {border: 1px solid $primary-color-light2;}
input#mailer:valid {border-color: lime; color: lime; } 
input#mailer:valid +label {display: none;}


.wrapper {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr 50px;
    grid-template-rows: 8em 100px 1fr 50px ;
    h3 {font-size: 1.3rem;}

    .hero {width: 70ch; p {font-size: 1.4rem;}; grid-area: 2 / 3 / 3 / 5;}
    .gear {
        grid-area: 3 / 3 / 4 / 6;
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
        margin-top: 2em;
        margin-bottom: 2em;
        margin-right: 1.5em;
        .merch {
            width: 20vw; aspect-ratio: 3 /2 ; 
            max-width: 500px; min-width: 200px; 
            background: url(/Assets/pexels-eric-anada-5915844.jpg);
            background-size: cover;
            cursor: pointer;
        }
    }
}

#brandspan {font-family: 'Courier New', Courier, monospace; pointer-events: none;}

// ---------------------aside-------------------------------------------------------------------------------------------------

.nav-social {
    position: absolute; 
    top: 23em;
    .sociallogo {transition: 0.3s; a {font-size: 3em; color: $primary-color-light2; text-decoration: none;}}
    .sociallogo:hover {transform: scale(1.2) translateX(5px);}}

// ---------------------footer-------------------------------------------------------------------------------------------------

footer {
    background-color: $secondary-dark2-tr;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    .lhrating, .code {
        width: 30px;
        height: 30px;
        border: 2px solid #50a784; 
        border-radius: 50%; 
        padding: 0.8em 0.5em;
        margin-right: 0.5em;
        color: #50a784;
        font-weight: 700;
        background-color: $primary-color-dark1;
        pointer-events: none;
    }
    .code {
        padding: 0.5em; 
        border: 2px solid 
        $primary-color-light2; 
        font-size: 1.2rem; 
        background-color: $primary-color-dark2;
        a {color: $primary-color-light2; pointer-events: visible;}}
    p:nth-of-type(2) {translate: 30px;}
    nav.contact {
        ul li {
            display: inline-block;
            font-size: 1.2rem;
            margin-left: 1em;
            a {text-decoration: none; color: $primary-color-light2; &:hover {color: $primary-color-light1;}}
        }
    }
}

// ------------------------media queries -----------------------------------------------------------------------------------------

@media (max-width: 620px) {
    header {flex-direction: column; align-items: center; height: 130px;} 
    header nav ul {justify-content: center; margin-top: 1em;}
    header nav ul li {margin: 0.3;}
    .mailer {justify-content: center; margin: 0;}
    .wrapper .hero {width: 40ch; margin-top: -3em;}
    .wrapper .gear {margin-top: 10em;}
    footer {position:static; flex-direction: column; gap: 2em; align-items: center; p:nth-of-type(2) {translate: 0px;}}
}
    
@media (min-width: 974px) {
    .wrapper {position: relative; right: 100px; top: 50px;}
    .nav-social {position: absolute; top: 28em;}
}